<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="style">
    <style>
        .wrap {
            width: 100%;
        }

        .body-wrap {
            width: 500px;
            margin: auto;
        }

        .save-btn {
            display: block !important;
            margin: auto;
        }

        input {
            margin-bottom: 10px !important;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <form th:object="${loginInfo}" id="frm-upload" enctype="multipart/form-data" action="/upload" method="post">
        <p>Board</p>
        <div class="wrap">
            <div class="body-wrap">
                <div class="family-info">
                    <label class="mt-3">신랑</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="신랑아버님"
                                   name="groomFather" th:value="*{groomFather}"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="신랑어머님"
                                   name="groomMather"
                                   th:value="*{groomMather}"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="신랑이름" name="groomName"
                                   th:value="*{groomName}"
                                   aria-label=" .form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="관계(선택)"
                                   name="groomRelation" th:value="*{groomRelation}"
                                   aria-label=" .form-control-sm example">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="연락처" name="groomPhone"
                                   th:value="*{groomPhone}"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="은행" name="groomBank"
                                   th:value="*{groomBank}"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="계좌번호"
                                   name="groomAccountNum" th:value="*{groomAccountNum}"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="예금주"
                                   name="groomAccountOwn" th:value="*{groomAccountOwn}"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>

                    <label class="mt-3">신부</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="신부아버님"
                                   name="brideFather"
                                   th:value="*{brideFather}"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="신부어머님"
                                   name="brideMather"
                                   th:value="*{brideMather}"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="신부이름" name="brideName"
                                   th:value="*{brideName}"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="관계(선택)"
                                   name="brideRelation" th:value="*{brideRelation}"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="연락처" name="bridePhone"
                                   th:value="*{bridePhone}"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="은행" name="brideBank"
                                   th:value="*{brideBank}"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="계좌번호"
                                   th:value="*{brideAccountNum}"
                                   name="brideAccountNum"
                                   aria-label=".form-control-sm example">
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="text" placeholder="예금주"
                                   th:value="*{brideAccountOwn}"
                                   name="brideAccountOwn"
                                   aria-label=".form-control-sm example">
                        </div>
                    </div>
                </div>

                <div class="wedding-hall-info mt-5">
                    <label class="mt-3">웨딩홀</label>
                    <input class="form-control form-control-sm d-flex" placeholder="날짜" name="weddingDate"
                           th:value="*{weddingDate}">
                    <input class="form-control form-control-sm d-flex" placeholder="예식장명" name="weddingHall"
                           th:value="*{weddingHall}">
                    <input type="text" class="form-control form-control-sm" name="sample6_postcode" placeholder="우편번호">
                    <input type="button" class="form-control form-control-sm" onclick="sample6_execDaumPostcode()"
                           value="우편번호 찾기">
                    <input type="text" class="form-control form-control-sm" name="address" placeholder="주소"
                           th:value="*{address}">
                    <input type="text" class="form-control form-control-sm" name="detailAddress"
                           placeholder="상세주소" th:value="*{detailAddress}">
                </div>

                <div class="location-info mt-5">
                    <label class="mt-3">위치</label>
                    <textarea class="form-control form-control-sm d-flex" placeholder="오시는길"
                              name="wayToCome"></textarea>
                    <textarea class="form-control form-control-sm d-flex" placeholder="약도"></textarea>
                </div>


                <div class="media mt-5">
                    <label class="mt-3">미디어</label>
                    <input type="file" class="form-control form-control-sm d-flex"
                           placeholder="사진" name="image">
                    <input type="file" class="form-control form-control-sm d-flex" placeholder="비디오" name="video">
                </div>

                <div class="greetings mt-5">
                    <label class="mt-3">인사말</label>
                    <textarea class="form-control form-control-sm d-flex" placeholder="인사말"
                              name="greetingsTitle" th:value="*{greetingsTitle}"></textarea>
                </div>

                <div class="greetings mt-5">
                    <label class="mt-3">글귀</label>
                    <textarea class="form-control form-control-sm d-flex"
                              placeholder="150자 이내로 작성해주세요^^" name="greetingsBody"
                              th:value="*{greetingsBody}"></textarea>
                </div>

                <div class="greetings mt-5">
                    <label class="mt-3">인적사항</label>
                    <textarea class="form-control form-control-sm d-flex"
                              placeholder="150자 이내로 작성해주세요^^" name="text" th:value="*{text}"></textarea>
                </div>

                <div class="notice mt-5">
                    <label class="mt-3">공지사항</label>
                    <textarea style="height: 100px;" class="form-control form-control-sm d-flex"
                              placeholder="자가용보다 대중교통이 편리해요와 같이 전하고 싶은 내용을 작성해 주세요. 전하고 싶은 내용을 작성해 주세요. 또는, 마무리 말씀을 써주셔도 돼요^^!* 150자 이내"
                              name="notice" th:value="*{notice}"></textarea>
                </div>
                <div class="btn-area mt-5 mb-5">
                    <button class="btn btn-primary save-btn" type="submit">저장하기</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="userName" th:value="${userName}">
        <input type="hidden" name="userPass" th:value="${userPass}">
    </form>
    </body>
</th:block>
<th:block layout:fragment="script">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script th:inline="javascript">
        function infoSave() {
            let obj = {
                "groomName": document.getElementById("groomName").value,
                "groomFather": document.getElementById("groomFather").value,
                "groomRelation": document.getElementById("groomRelation").value,
                "groomPhone": document.getElementById("groomPhone").value,
                "groomBank": document.getElementById("groomBank").value,
                "groomAccountNum": document.getElementById("groomAccountNum").value,
                "groomAccountOwn": document.getElementById("groomAccountOwn").value,
                "brideName": document.getElementById("brideName").value,
                "brideFather": document.getElementById("brideFather").value,
                "brideMather": document.getElementById("brideMather").value,
                "brideRelation": document.getElementById("brideRelation").value,
                "bridePhone": document.getElementById("bridePhone").value,
                "brideBank": document.getElementById("brideBank").value,
                "brideAccountNum": document.getElementById("brideAccountNum").value,
                "brideAccountOwn": document.getElementById("brideAccountOwn").value
            }
            return obj;
        }

        function save(res) {
            $.ajax({
                type: "POST",
                url: "/upload",
                dataType: "json",
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                data: {
                    image: $('#image').val()
                },
                success: function (data) {
                    console.log('Ajax submit success');
                },
                error: function (data) {
                    console.log('Ajax submit error');
                },
            });
        }


        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }
    </script>
</th:block>
</html>